<launch>
  <node pkg="kmo_navserver" type="kmo_navserver_node" name="kmo_navserver" output="screen">
    <param name="host" value="192.168.100.100" />
    <param name="enc" value="true" />
    <param name="state" value="true" />
    <param name="laser" value="true" />
    <param name="steering_fix_wheel_distance" value="1.190" />
    <param name="steering_fix_wheel_distance_y" value="0.0" />
    <param name="sick" value="true" />
  </node>

</launch>
