<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find orunav_params)/config/global.cfg"/>
  <rosparam command="load" file="$(find orunav_params)/config/citi1.cfg"/>

  <include file="$(find gazebo_worlds_oru)/launch/empty_map_server.launch"/>

  <node pkg="orunav_vehicle_execution" type="point_n_click_target_client" name="point_n_click_target_client_citi1" output="screen">
    <param name="load_operation" value="false" />
    <rosparam param="robot_ids">[1]</rosparam>
    <param name="multiple_vehicles" value="true" />
  </node>

  <node pkg="orunav_coordinator_fake" type="coordinator_fake_node" name="coordinator_fake_node" output="screen">
    <param name="multiple_vehicles" value="true" />
    <param name="use_ct" value="false" />  
  </node>

  <!-- ALL ROBOT SPECIFIC TASKS -->

  <group ns="robot1">
  <param name="tf_prefix" value="robot1" />

  <node pkg="kmo_navserver" type="kmo_navserver_node" name="kmo_navserver" output="screen">
     <param name="host" value="192.168.100.100" />
     <param name="enc" value="true" />
     <param name="state" value="true" />
     <param name="laser" value="true" />
     <param name="sick" value="true" />
     <param name="steering_fix_wheel_distance" value="1.190" />
     <param name="steering_fix_wheel_distance_y" value="0.0" />
     <param name="tf_frame_state_id" value="base_link" />
     
     <param name="tf_x" value="1.5" />
     <param name="tf_y" value="0.0" />
     <param name="tf_z" value="0.05" />
     <remap from="vmc_navserver/laserscan" to="laserscan"/>
     <param name="epu" value="true" />
     <param name="debug" value="0" />
     <param name="use_epu_time_offset" value="true" />
     <param name="min_time_loc_delta" value="0.1" />
  </node>

  <node pkg="kmo_fork_control" type="fork_control_cititruck_node" name="fork_control" output="screen">
     <param name="visualize" value="true" />
     <param name="fork_max_moving_time" value="2.5" />
     <param name="fork_moving_time_support_to_low" value="0.3" />
     <param name="delay_support_to_low" value="0.2" />
  </node>

  <node pkg="orunav_mpc" type="controller_node" name="controller" output="screen">
        <param name="robot_id" value="1" />
  </node>

  <node pkg="orunav_motion_planner" type="get_path_service" name="get_path_service" output="screen">		
    <param name="model" value="CiTiTruck_Expanded10+20_16_1_4.0_0.2.reduced"/>
    <param name="motion_primitives_directory" value="$(find orunav_motion_planner)/Primitives/" />
    <param name="lookup_tables_directory" value="$(find orunav_motion_planner)/LookupTables/" /> 
    <param name="min_incr_path_dist" value="0.2" />
    <param name="visualize" value="true" />
  </node>

  <node pkg="orunav_constraint_extract" type="polygonconstraint_service" name="polygonconstraint_service" output="screen">
    <param name="load_type" value="1" />
    <param name="model_type" value="2" />
    <param name="visualize" value="false" />
    <param name="save_constraints_and_path" value="true" />
    <param name="lookuptables_file" value="$(find orunav_constraint_extract)/tables/service_lookup_model2load1.dat" />
    <param name="visualize_outer_constraints" value="false" />
    <param name="visualize_only_invalid" value="false" />
    <param name="skip_overlap" value="true" />
    <param name="save_lookuptables" value="false" />
  </node>  

  <node pkg="orunav_path_smoother" type="smoothed_path_service" name="smoothed_path_service" output="screen">
    <param name="visualize" value="true" />
    <param name="visualize_deep" value="false" />
    <param name="wheel_base" value="1.190" />
    <param name="minimize_phi_and_dist" value="true" />
    <param name="init_controls" value="true" />
    <param name="use_th_constraints" value="true" />
    <param name="use_xy_constraints" value="true" />
    <param name="phi_min" value="-1.0" /> <!-- -0.9 -->
    <param name="phi_max" value="1.0" />  <!-- 0.9 -->
    <param name="reassign_constraints" value="true" />
    <param name="reassign_iters" value="1" />
    <param name="reassign_min_distance" value="0.1" />
  </node>  

  <node pkg="orunav_vehicle_execution" type="orunav_vehicle_execution_node" name="orunav_vehicle_execution_node_citi1" output="screen">
    <param name="visualize" value="true" />
    <param name="max_tracking_error" value="-1." />
    <param name="use_forks" value="true" />

    <param name="max_vel" value="0.3" />
    <param name="max_rotational_vel" value="0.3" />
    <param name="max_acc" value="0.1" />
  </node>

  </group>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cititruck_description)/launch/cititruck.rviz"/>

<remap from="/robot1/kmo_navserver/input_loc" to="/ndt_mcl_pose"/>

<node name="ndt_mcl" pkg="ndt_localization" type="ndt_mcl_localization" output="screen">
<!-- jff file with map -->
<param name="map_file" value="$(find graph_map)/maps/d2018_05_15_time16_11_03_.JFF"  />
<param name="sensor_pose_x" value="0.807" />
<param name="sensor_pose_y" value="-0.003" />
<param name="sensor_pose_z" value="1.5" />
<param name="sensor_pose_t" value="3.14316344992" />
<param name="initial_y" value="3.34" />
<param name="initial_x" value="3.45" />
<param name="initial_t" value="0.0" />
<!-- resolution of jff map -->
<param name="resolution" value="0.7" />
<!-- show aprticles for debug purposes -->
<param name="show_particles" value="true" />
<!-- particle count for ndt-mcl -->
<param name="particle_count" value="500" />
<param name="show_pose" value="true"/>
<param name="fraction" value="1.0"/>
<param name="force_SIR" value="true" />
<param name="input_topic_name" value="/robot1/kmo_navserver/laserscan1" />
<param name="Laser" value="true" />
<param name="odom_tf" value="world" />
<param name="root_tf" value="world" />
<param name="base_tf" value="odom_base_link" />
</node>



</launch>
