Source: ros-kinetic-kmo-fork-control
Section: misc
Priority: extra
Maintainer: Henrik Andreasson <henrik.andreasson@oru.se>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libeigen3-dev, ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-kmo-cpi-interface, ros-kinetic-orunav-generic, ros-kinetic-orunav-msgs, ros-kinetic-orunav-rviz, ros-kinetic-roscpp, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-kmo-fork-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, ros-kinetic-kmo-cpi-interface, ros-kinetic-orunav-generic, ros-kinetic-orunav-msgs, ros-kinetic-orunav-rviz, ros-kinetic-roscpp, ros-kinetic-std-msgs
Description: The kmo_fork_control package
