Source: ros-kinetic-vmc-navserver
Section: misc
Priority: extra
Maintainer: Henrik Andreasson <henrik.andreasson@oru.se>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-message-generation, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-vmc-navserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Old message types from the 'old' vmc_navserver package.
